tr#selected {
    background-color: rgb(106, 113, 116) !important;
}

tr#not-selected {
    background-color: rgb(255, 255, 255) !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border : 1px solid rgb(153, 153, 153);
    padding : 1;
}

.add-container {
    display: flex;
    width: 338px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2px 0px;
    flex-wrap: wrap;
}

.top-search-text {
    width: 68px;
    height: 15px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-search {
    width: 225px;
    height: 15px;
    flex-shrink: 0;
    background: #D9D9D9;
}

p.search-item-text {
    width: 59px;
    height: 5px;
    flex-shrink: 0;
    margin-block-start: 10px;
    margin-block-end: 15px;
}
.search-item {
    width: 94px;
    height: 15px;
    flex-shrink: 0;
}


.add-button {
    width: 90px;
    height : 45px
}

.search-container {
    display: flex;
    width: 354px;
    height: 124px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px 21px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.search-label {
    width: 200px;
    height: 15px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-input {
    width: 286px;
    height: 15px;
    flex-shrink: 0;
}

.search-button {
    width: 122px;
    height: 35px;
    flex-shrink: 0;
}

.delete-button {
    width: 128px;
    height: 35px;
    flex-shrink: 0;
}

.update-container {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px 13px;
    flex-wrap: wrap;
    padding: 16px 0px;
}

.update-label {
    width: 133px;
    height: 20px;
    flex-shrink:0;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.update-input-box {
    width: 229px;
    height: 24px;
    flex-shrink: 0;
}

.update-button {
    width: 177px;
    height: 41px;
    flex-shrink: 0;
}

.table-container {
    display: block;
    overflow-x: auto; /* Enable horizontal scrolling */
    margin: 10px;
}

.table {
    width: max-content; /* Ensure the table expands to fit its content */
    white-space: nowrap; /* Prevent text from wrapping inside table cells */
}


.sticky {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #fff; /* Set the background color for the sticky columns */
}


.table th,
.table td {
    padding: 8px;
    border: 1px solid #ddd;
}

div.sticky th,
div.sticky td {
    width: 45px; /* Set your desired width here */
    /* You can adjust the width value as needed */
}

